{% set headerHeight = 'masthead-half' %}
{% set headerImage = 'hero-image_brushes' %}
{% set pageTitle = 'Dare - Brushes' %}
{% set pageHeading = 'Brushes' %}
{% set pageID = 'brushes' %}

{% extends "layout.njk" %}

{% block content %}
    <section class="main brushes">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="inner">
                            <div class="col-md-10 mx-auto">
                                <form>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="inputFirstname">First Name:</label>
                                            <input type="text" class="form-control" id="inputFirstname" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="inputLastname">Email Address:</label>
                                            <input type="text" class="form-control" id="inputLastname" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="inputAddressLine1">Phone number:</label>
                                            <input type="text" class="form-control" id="inputAddressLine1" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="inputAddressLine2">User Date Of Birth:</label>
                                            <input type="text" class="form-control" id="inputAddressLine2" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="inputCity">Country:</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Select...</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                </select>
                                        </div>
                                    </div>
                                    <button type="button" class="btn">Submit</button>
                                </form>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </section>
{% endblock %}