{% set headerHeight = 'masthead-half' %}
{% set headerImage = 'hero-image_hair' %}
{% set pageTitle = 'Dare - Hair' %}
{% set pageHeading = 'Hair' %}
{% set pageID = 'hair' %}

{% extends "layout.njk" %}

{% block content %}
    <section class="main perfume">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left-col">
                        <div class="inner">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui eveniet quos fugit quo, suscipit quis excepturi mollitia eos! Unde vero praesentium nihil enim consequuntur dolorem laboriosam iste distinctio similique.</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui eveniet quos fugit quo, suscipit quis excepturi mollitia eos! Unde vero praesentium nihil enim consequuntur dolorem laboriosam iste distinctio similique.</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui eveniet quos fugit quo, suscipit quis excepturi mollitia eos! Unde vero praesentium nihil enim consequuntur dolorem laboriosam iste distinctio similique.</p>
                        </div>
                    </div>
                    <div class="col-md-6 right-col">
                        <div class="inner"><img src="assets/img/img3.jpg" alt="Image 1" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}