{% set headerHeight = 'masthead-full' %}
{% set headerImage = 'hero-image_home' %}
{% set pageTitle = 'Dare - Home' %}
{% set pageHeading = 'Enhancing your beauty experience' %}
{% set pageID = 'index' %}

{% extends "layout-default.njk" %}