@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body {
    font-family: "Noto Sans";
}

.container {
    @include media-breakpoint-up(xl) {
        max-width: 960px;
    }
}

.navbar {
    background-color: rgba($color: #000000, $alpha: 0.3);

    a {
        color: #fff;
    }
}

header {
    &.masthead-full {
        position: relative;
        height: 100vh;
    }
    
    &.masthead-half {
        position: relative;
        height: 50vh;
    }
    
    &.hero-image_home {
        background: url(../assets/img/Image-01.jpg) no-repeat center center;
        background-size: cover;
    }
    
    h1 {
        position: absolute;
        color: #fff;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
}